{
  "plugins": ["prettier-plugin-sort-json"],
  "overrides": [
    {
      "files": "src/i18n/locales/*.json",
      "options": {
        "jsonRecursiveSort": true,
        "jsonSortOrder": "{\"/.*/\": \"lexical\"}"
      }
    }
  ]
}